/*<meta />*/

@media only screen and (max-width: 767px)
{
	.search-bar
	{
		width: 100%;
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		max-height: 200px;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component
	{
		width: 100%;
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-field
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-submit
	{
		
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-filter
	{
		background: transparent url('Images/16px-sort-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/16px-sort-down.png') no-repeat center center;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-filter-content
	{
		top: 2.5em;
		background-color: #ffffff;
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-filter-wrapper.open
	{
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/16px-sort-down.png') no-repeat center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-filter:hover
	{
		background: transparent url('Images/16px-sort-down-white.png');
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/16px-sort-down-white.png');
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-filter.selected
	{
		background: #696969 url('Images/16px-sort-down-white.png') no-repeat center center;
		-pie-background: #696969 url('Skins/Default/Stylesheets/Components/Images/16px-sort-down-white.png') no-repeat center center;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_Sage_Search_Normal_TopNav.mc-component .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-field::-webkit-input-placeholder
	{
		
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-field::-moz-placeholder
	{
		
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-field:-moz-placeholder
	{
		
	}

	.search-bar._Skins_Sage_Search_Normal_TopNav.mc-component .search-field:-ms-input-placeholder
	{
		
	}

	.search-bar.search-bar-container._Skins_Sage_Search_Normal_TopNav.mc-component .search-submit
	{
		background: transparent url('Images/16px-search-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/16px-search-white.png') no-repeat center center;
	}

	.search-bar.search-bar-container._Skins_Sage_Search_Normal_TopNav.mc-component .search-submit:hover
	{
		background: transparent url('Images/16px-search-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/16px-search-white.png') no-repeat center center;
	}

	.buttons._Skins_Language_toggle.mc-component
	{
		
	}

	._Skins_Language_toggle.mc-component .button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button > div
	{
		
	}

	._Skins_Language_toggle.mc-component .button .button-icon-wrapper
	{
		
	}

	._Skins_Language_toggle.mc-component .button .button-text
	{
		
	}

	._Skins_Language_toggle.mc-component .button.collapse-all-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.current-topic-index-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.expand-all-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.login-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.next-topic-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.previous-topic-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.print-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.remove-highlight-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.select-language-button
	{
		background: #000000 url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		-pie-background: #000000 url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
	}

	._Skins_Language_toggle.mc-component .button.select-skin-button
	{
		background: #ececec url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center;
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: url('Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/60x60_globe_white-on-transparent_icon.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
	}

	._Skins_Language_toggle.mc-component .button.topic-ratings-empty-button
	{
		background: transparent url('Images/star-empty.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/star-empty.png') no-repeat center center;
		background-size: 16px 16px;
	}

	._Skins_Language_toggle.mc-component .toolbar-button-drop-down
	{
		background: #FFFFFF;
		background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000));
		background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
		background: -o-linear-gradient(top, #000000 0%,#000000 100%);
		background: -ms-linear-gradient(top, #000000 0%,#000000 100%);
		background: linear-gradient(#000000 0%,#000000 100%);
		-pie-background: linear-gradient(#000000, #000000);
	}

	._Skins_Language_toggle.mc-component .toolbar-button-drop-down.select-language-drop-down
	{
		background: #FFFFFF;
		background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000));
		background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
		background: -o-linear-gradient(top, #000000 0%,#000000 100%);
		background: -ms-linear-gradient(top, #000000 0%,#000000 100%);
		background: linear-gradient(#000000 0%,#000000 100%);
		-pie-background: linear-gradient(#000000, #000000);
	}

	._Skins_Language_toggle.mc-component .toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background: #E5EFF7;
		background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000));
		background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
		background: -o-linear-gradient(top, #000000 0%,#000000 100%);
		background: -ms-linear-gradient(top, #000000 0%,#000000 100%);
		background: linear-gradient(#000000 0%,#000000 100%);
		-pie-background: linear-gradient(#000000, #000000);
	}

	._Skins_Language_toggle.mc-component .toolbar-button-drop-down.select-skin-drop-down
	{
		background: #FFFFFF;
		background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000));
		background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
		background: -o-linear-gradient(top, #000000 0%,#000000 100%);
		background: -ms-linear-gradient(top, #000000 0%,#000000 100%);
		background: linear-gradient(#000000 0%,#000000 100%);
		-pie-background: linear-gradient(#000000, #000000);
	}

	._Skins_Language_toggle.mc-component .toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background: #E5EFF7;
		background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000));
		background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
		background: -o-linear-gradient(top, #000000 0%,#000000 100%);
		background: -ms-linear-gradient(top, #000000 0%,#000000 100%);
		background: linear-gradient(#000000 0%,#000000 100%);
		-pie-background: linear-gradient(#000000, #000000);
	}

	._Skins_Language_toggle.mc-component .button-separator
	{
		background-color: #e1e1e1;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #knowledge-panel
	{
		order: 0;
		display: none;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #search-results-flex
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #knowledge-panel-middle
	{
		display: block;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content-phrase span
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content-phrase
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		max-height: 200px;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response-title a
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response-title
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response-title a:visited
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .glossary .term a:visited
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response-title a:visited
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList h3.title a:visited
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response-title a:focus
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .glossary .term a:focus
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response-title a:focus
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList h3.title a:focus
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response-title a:hover
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .glossary .term a:hover
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response-title a:hover
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #pagination a:hover
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList h3.title a:hover
	{
		
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component li > a:hover
	{
		background-color: var(--business-product);
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: var(--business-product);
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: var(--business-product);
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: var(--business-product);
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: var(--business-product);
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response-title a:active
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .glossary .term a:active
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response-title a:active
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList h3.title a:active
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response-url cite
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-response-url
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content
	{
		background-position: center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .knowledge-panel-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: linear-gradient(transparent 0%,#ffffff 100%);
		-pie-background: linear-gradient(transparent, #ffffff);
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .glossary .definition
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .glossary
	{
		background-color: var(--col-action-minor-50);
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .glossary .term
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .glossary .term a
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component h1#results-heading
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #results-heading
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content-phrase span
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content-phrase
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container.micro-content-truncated-mode .micro-response
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: linear-gradient(transparent 0%,#ffffff 100%);
		-pie-background: linear-gradient(transparent, #ffffff);
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response-title a
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response-title
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response-url cite
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-response-url
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .featured-snippets-container .micro-content
	{
		background-position: center center;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #pagination
	{
		line-height: 4em;
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #pagination a
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #pagination a#selected
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .description
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .gs-snippet
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList h3.title a
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList h3.title
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList .url cite
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component #resultList
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .phrase-suggest
	{
		
	}

	._Skins_Sage_Search_Results_TopNav.mc-component .phrase-suggest a
	{
		
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component
	{
		background-color: transparent;
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component a
	{
		
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component ul ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component li > a.selected
	{
		background-color: var(--business-product-hover1);
	}

	ul.menu._Skins_Sage_Menu_Topic_TopNav.mc-component li > a.selected:hover
	{
		background-color: var(--business-product);
	}
}

