/*<meta conditions="Other.Master,Other.MasterTopNav" />*/

/* This stylesheet contains styles that are specific to the 'non-print' medium, used for HTML5, Webhelp, and HTML Help targets. */

@media non-print
{
	div.GlossaryPageDefinition	/* Glossary page definition */
	{
		margin-bottom: 4px;
		padding-bottom: 12px;
		border-bottom-style: dotted;
		border-bottom-color: #E0E1DD;
		border-bottom-width: 1px;
	}

	div.GlossaryPageEntry	/* WebHelp - Glossary - container for glossary entry */
	{
		color: #4D4F53;
		margin-bottom: 4px;
	}
}
