/*<meta conditions="Other.MasterTopNav" />*/

/* use lower case paths, in case target specifies lower case */

/* --- Carbon Icons --- Use name 'CarbonIcons' for web fonts */
@font-face {
    font-family: 'CarbonIcons';
    src: url("../fonts/carbon-icons-webfont.woff") format("woff"), url("../fonts/carbon-icons-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}


/* --- Sage UI - Use name 'Sage UI' for web fonts --- */

@font-face {
    font-family: 'Sage UI';
    src: url("../fonts/Sage_UI-Regular.woff") format("woff"), url("../fonts/SageUI-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Sage UI';
    src: url("../fonts/Sage_UI-Medium.woff") format("woff"), url("../fonts/SageUI-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Sage UI';
    src: url("../fonts/Sage_UI-Bold.woff") format("woff"), url("../fonts/SageUI-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}