/*<meta Version="9" conditions="" />*/

/* MadCap Table Style: */

mcTableStyle
{
	name: Toolbar simple;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #ffffff;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #4d4f53;
	max-id: 11;
	margin-top: 4px;
	margin-bottom: 4px;
	cell-padding-right: 5px;
	cell-padding-left: 5px;
	cell-padding-top: 6px;
	cell-padding-bottom: 4px;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #4d4f53;
}

mcTableColumnStyle
{
	span: 1;
	name: Breadcrumbs;
	id: 0;
	size: 50%;
	text-align: left;
	vertical-align: middle;
}

mcTableColumnStyle
{
	span: 1;
	id: 11;
	name: Toolbar;
	size: 50%;
	text-align: right;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	text-align: center;
	vertical-align: top;
}

/* Cell Styles: */

.TableStyle-Toolbar_simple
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #ffffff;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #ffffff;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: #4d4f53;
	border-top-width: 0px;
	border-bottom-style: dotted;
	border-bottom-color: #4d4f53;
	border-bottom-width: 1px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-spacing: 0px 0px;
}

.TableStyle-Toolbar_simple-Column-Breadcrumbs
{
	width: 50%;
}

.TableStyle-Toolbar_simple-Column-Toolbar
{
	width: 50%;
}

.TableStyle-Toolbar_simple-HeadI-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadI-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadE-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadE-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadF-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadF-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadH-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadH-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadD-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadD-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadC-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadC-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadB-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadB-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadA-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadA-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadG-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadG-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-HeadI-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadI-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-HeadE-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadE-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-HeadF-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadF-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-HeadH-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadH-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-HeadD-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadD-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-HeadC-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadC-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-HeadB-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadB-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-HeadA-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadA-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-HeadG-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-HeadG-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootI-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootI-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootE-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootE-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootF-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootF-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootH-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootH-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootD-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootD-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootC-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootC-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootB-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootB-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootA-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootA-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootG-Breadcrumbs-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootG-Breadcrumbs- p
{
	
}

.TableStyle-Toolbar_simple-FootI-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootI-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootE-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootE-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootF-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootF-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootH-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootH-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootD-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootD-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootC-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootC-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootB-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootB-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootA-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootA-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-FootG-Toolbar-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-FootG-Toolbar- p
{
	
}

.TableStyle-Toolbar_simple-Body-Body1
{
	
}

.TableStyle-Toolbar_simple-BodyI-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyI-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyE-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyE-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyF-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyF-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyH-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyH-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyD-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyD-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyC-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyC-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyB-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyB-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyA-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyA-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyG-Breadcrumbs-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyG-Breadcrumbs-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyI-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyI-Toolbar-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyE-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyE-Toolbar-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyF-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyF-Toolbar-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyH-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyH-Toolbar-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyD-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyD-Toolbar-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyC-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyC-Toolbar-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyB-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyB-Toolbar-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyA-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyA-Toolbar-Body1 p
{
	
}

.TableStyle-Toolbar_simple-BodyG-Toolbar-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-Toolbar_simple-BodyG-Toolbar-Body1 p
{
	
}

