/* MadCap Table Style: */

/*<meta conditions="Other.MasterTopNav" Version="9" />*/

mcTableStyle
{
	name: Invisible;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	cell-padding-bottom: 0.5em;
	cell-padding-right: 0.5em;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	font-weight: 500;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	font-weight: 500;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Invisible
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Invisible-Column-Column1
{
	
}

.TableStyle-Invisible-Head-Header1
{
	
}

.TableStyle-Invisible-HeadI-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
}

.TableStyle-Invisible-HeadI-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-HeadE-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: 500;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-Invisible-HeadE-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-HeadF-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-Invisible-HeadF-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-HeadH-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: 500;
}

.TableStyle-Invisible-HeadH-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-HeadD-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-Invisible-HeadD-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-HeadC-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
}

.TableStyle-Invisible-HeadC-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-HeadB-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: 500;
}

.TableStyle-Invisible-HeadB-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-HeadA-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
}

.TableStyle-Invisible-HeadA-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-HeadG-Column1-Header1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
}

.TableStyle-Invisible-HeadG-Column1-Header1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-Foot-Footer1
{
	
}

.TableStyle-Invisible-FootI-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
}

.TableStyle-Invisible-FootI-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-FootE-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: 500;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: none;
}

.TableStyle-Invisible-FootE-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-FootF-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: none;
}

.TableStyle-Invisible-FootF-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-FootH-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: 500;
}

.TableStyle-Invisible-FootH-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-FootD-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: none;
}

.TableStyle-Invisible-FootD-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-FootC-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
}

.TableStyle-Invisible-FootC-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-FootB-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: 500;
}

.TableStyle-Invisible-FootB-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-FootA-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
}

.TableStyle-Invisible-FootA-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-FootG-Column1-Footer1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
}

.TableStyle-Invisible-FootG-Column1-Footer1 p
{
	font-weight: 500;
}

.TableStyle-Invisible-Body-Body1
{
	
}

.TableStyle-Invisible-BodyI-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
}

.TableStyle-Invisible-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Invisible-BodyE-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Invisible-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Invisible-BodyF-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-Invisible-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Invisible-BodyH-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Invisible-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Invisible-BodyD-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-Invisible-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Invisible-BodyC-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
}

.TableStyle-Invisible-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Invisible-BodyB-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Invisible-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Invisible-BodyA-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
}

.TableStyle-Invisible-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Invisible-BodyG-Column1-Body1
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-weight: normal;
}

.TableStyle-Invisible-BodyG-Column1-Body1 p
{
	font-weight: normal;
}

