@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta conditions="Other.MasterTopNav,Other.Master" />*/

/* This stylesheet contains styles that are specific to the 'chm' medium, used for the HTML Help target. */

@media chm
{
	hr
	{
		width: 100%;
	}

	MadCap|dropDown	/* MadCap|dropDown: Drop downs */
	{
		mc-open-image: url('../Images/expand-collapse-up.png');
		mc-open-image-alt-text: Close this section;
		mc-closed-image: url('../Images/expand-collapse-down.png');
		mc-closed-image-alt-text: Open this section;
		mc-image-position: right;
		mc-image-spacing: 8px;
	}

	MadCap|toggler	/* MadCap|toggler: togglers */
	{
		mc-open-image: url('../Images/expand-collapse-up.png');
		mc-open-image-alt-text: Close this section;
		mc-closed-image: url('../Images/expand-collapse-down.png');
		mc-closed-image-alt-text: Open this section;
		mc-image-position: right;
		mc-image-spacing: 8px;
	}

	MadCap|expanding	/* MadCap|expanding: expanding text */
	{
		mc-image-spacing: 3px;
		mc-open-image: url('../Images/expand-text-left.png');
		mc-closed-image: url('../Images/expand-text-right.png');
	}
	
	:focus /* remove the focus outline */
	{
		outline: none;
	}

}
